<!DOCTYPE HTML>
<html>
<head>
  <style>
    h1{color: salmon; font-family: arial; display: flex; justify-content: center; margin-top: 50px;}
    p{color: black; font-family: arial; display: flex; justify-content: center; margin-top: 50px; font-size: 14px; }
  </style>
    <meta charset="utf-8" />
    <title>PRACTICE</title>
</head>
<body>
    <h1>HELLO</h1>
    <p>My name is Kathleen Pearce and I am a recent graduate of Lighthouse Labs Web Development Bootcamp in Vancouver, BC. I have a high interest in both coding and in design. I love creativity, efficeny and hard work.</p>
    <p><a href="/"><button>Home</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   <a href="/projects"><button>Projects</button></a></p>
</body>
</html>
