<!DOCTYPE HTML>
<html>
<head>
  <style>
    h1{color: salmon; font-family: arial; display: flex; justify-content: center; margin-top: 50px;}
    p{color: goldenrod; font-family: arial; display: flex; justify-content: center; margin-top: 50px; font-size: 20px; }
  </style>
    <meta charset="utf-8" />
    <title>PRACTICE</title>
</head>
<body>
    <h1>Welcome to my practice page</h1>

    <p><a href="/about"><button>About Me</button></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="/"><button>Home</button></a></p>

</body>
</html>